/* ROOT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:disabled {
  color: transparent;
}
button:disabled {
  color: gray;
  border: none;
}

/* UTILITY */
.container {
  width: 80%;
  max-width: 1100px;
  margin: auto;
}

.italic {
  color: gray;
  font-style: italic;
}

/* NAV */
.main-nav {
  border-bottom: thin black solid;
  padding: 0.5rem;
  min-height: 7vh;
}

.main-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav .nav-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-nav .nav-brand,
.main-nav .nav-item {
  text-decoration: none;
}

.main-nav .nav-item {
  padding: 0.5rem 0.1rem 0.25rem 0.1rem;
  border-bottom: transparent solid 2px;
  margin: 0 1rem;
}
.main-nav #nav-insert {
  color: black;
}
.main-nav #nav-update-delete {
  color: black;
}
.main-nav #nav-query {
  color: black;
}

.main-nav .nav-current,
.main-nav .nav-item:hover {
  border-color: rgb(47, 144, 255);
}

.main-nav .nav-brand {
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

/* HOME */
.home-body {
  position: relative;
  left: 50vw;
  transform: translateX(-50%);
  margin-top: 3rem;
  width: 60%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-body > h2 {
  margin-bottom: 0.5rem;
}

.info-group {
  width: 400px;
  text-align: left;
  margin-top: 1.5rem;
  padding: 1rem;
  border: thin solid black;
  border-radius: 10px;
}
.info-group h3 {
  margin-left: 1rem;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

/* CONTENT BODY */
.content-body {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  height: 92vh;
  overflow-y: scroll;
}

.sidebar ul {
  list-style: none;
}

.sidebar-item {
  padding: 1rem;
  border-bottom: thin solid black;
  cursor: pointer;
}

.sidebar-current,
.sidebar-item:hover {
  background-color: rgb(182, 182, 182);
  color: white;
}

/* TABLE */
.main-table {
  overflow-x: scroll;
}
.main-table table {
  margin: 3rem 0 0 3rem;
  border-collapse: collapse;
}

.main-table table {
  border: thin solid black;
}

.main-table th,
.main-table td {
  border-top: thin solid black;
  border-bottom: thin solid black;
}

.main-table .button-cell i {
  display: inline;
  margin-right: 0.75rem;
  cursor: pointer;
}
.main-table .button-cell .delete-button {
  color: rgb(255, 72, 0);
}
.main-table .button-cell .edit-button {
  color: rgb(47, 144, 255);
}
.main-table .button-cell button {
  padding: 0.25rem;
}

.main-table td,
.main-table th {
  padding: 0.6rem;
}

.main-table th {
  background-color: whitesmoke;
  text-transform: lowercase;
}

.main-table tr:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}

/* INSERT */
.insert-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fraction-0 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}
#fraction-1 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
#fraction-2 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}
#fraction-3 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
#fraction-4 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}
#fraction-5 {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
}
#fraction-6 {
  grid-row: 5 / span 1;
  grid-column: 1 / span 2;
}
#fraction-7 {
  grid-row: 5 / span 1;
  grid-column: 2 / span 1;
}
#fraction-8 {
  grid-row: 6 / span 1;
  grid-column: 1 / span 1;
}
#fraction-9 {
  grid-row: 6 / span 1;
  grid-column: 2 / span 1;
}
#fraction-10 {
  /* margin: auto; */
  grid-row: 7 / span 3;
  grid-column: 1 / span 2;
}
#create-user-button {
  grid-row: auto;
  grid-column: 1 / span 2;
  margin: auto;
}

.insert-body {
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(10, 50px);
  grid-template-columns: repeat(2, 250px);
  border: thin black solid;
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.insert-header {
  margin-top: 2.5rem;
  padding-bottom: 1rem;
  border: thin solid black;
  border-bottom: none;
  width: 531px;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.insert-body .radio-group {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.insert-body .input-group {
  display: flex;
  align-items: center;
}

.insert-body .text-area-group {
  display: flex;
}

.insert-body .text-area-group textarea {
  height: 140px;
  width: 90%;
}

.insert-body .text-area-group label,
.insert-body .input-group label {
  margin-right: 5px;
}

.insert-body button {
  display: block;
  width: 300px;
  height: 35px;
}

/* QUERY */
.query-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.query-body input {
  width: 100px;
}
.checkbox-group input {
  width: 20px;
}

.query-header {
  margin-top: 3rem;
  width: 661px;
  padding: 1rem 0;
  border: thin solid black;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.query-form {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-template-rows: repeat(7, 50px);
  border: thin solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.query-form .input-group label {
  margin-right: 0.5rem;
}

#query-3 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}
#query-4 {
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
}
#query-5 {
  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
}
#query-6 {
  grid-row: 6 / span 1;
  grid-column: 1 / span 1;
}
#query-7 {
  grid-row: 6 / span 1;
  grid-column: 2 / span 1;
}
#query-8 {
  grid-row: 6 / span 1;
  grid-column: 3 / span 1;
}
#query-9 {
  grid-row: 7 / span 1;
  grid-column: 1 / span 3;
  width: 400px;
  height: 40px;
  margin: auto;
}
#query-10,
#query-11 {
  width: 90%;
  height: 1px;
  background-color: black;
  grid-row: 3 / span 1;
  grid-column: 1 / span 3;
  margin: auto;
  transform: translateY(-20px);
}
#query-11 {
  grid-row: 5 / span 1;
}

.search-result-body {
  margin-top: 2rem;
}
.search-result-body .tutor-card {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  border: thin solid black;
  text-decoration: none;
  color: rgb(48, 140, 245);
  width: 400px;
  cursor: pointer;
}
.search-result-body .tutor-card:hover {
  background-color: whitesmoke;
}

/* TUTOR PROFILE */
.tutor-profile-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.card-header {
  margin-top: 2rem;
  text-align: left;
  padding: 1rem 0;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
}

.card-header h2 {
  margin-left: 1rem;
}

.card-item {
  padding-top: 0.5rem;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
}

.card-item li {
  display: flex;
  width: 400px;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
.card-item li:first-child {
  padding-top: 1rem;
}
.card-item li:last-child {
  padding-bottom: 1rem;
}

.card-item i,
.card-item h3 {
  margin-right: 1rem;
}

#profile-header {
  border: 2px solid black;
  width: 550px;
}

#profile-item {
  border: 2px solid black;
  border-top: none;
  width: 550px;
}

.comment-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-item-row {
  display: flex;
}

.comment-date {
  color: gray;
}
